@import "tailwindcss";

:root {
  --background: #fdfcf9;
  --surface: #f1eee9;

  --local: #0f766e;
  --local-light: #ccfbf1;
  --local-dark: #115e59;

  --visitor: #f97316;
  --visitor-light: #ffedd5;
  --visitor-dark: #c2410c;

  --text: #334155;
  --heading: #0f2537;
  --border: #e7e2da;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--text);
  font-family: var(--font-inter), sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-playfair), serif;
  color: var(--heading);
}